@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bg-gradient-rainbow {
        background-image: linear-gradient(90deg, #7c3aed, #06b6d4, #ef4444);
    }
    
    .bg-gradient-blue {
        background-image: linear-gradient(90deg, #3b82f6, #60a5fa);
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(6px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}